@tailwind base;
@tailwind components;

@font-face {
  font-family: "azonix";
  src: local("Azonix"), url(./assets/Azonix.otf) format("opentype");
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.moving {
  position: relative;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

.img {
  width: 100%;
}

@tailwind utilities;
